.accordion-item {
    padding: 10px 0px;
    position: relative;
    cursor: pointer;
}

.accordion-item .accordion-lable {
    background: var(--color-primary-4);
    padding: 15px 30px;
    color: var(--color-primary-1);
    font-size: 1.6rem;
}
.accordion-content .content {
    padding: 20px 30px 20px 20px;
}
.accordion-content p {
    color: var(--color-primary-5);
    cursor: auto;
    font-weight: 500;
    text-shadow: none;
}
.accordion-item .accordion-content {
    background: var(--color-primary-1);
    height: 0px;
    overflow: hidden;
    transition: all 2.5s ease-in-out;
    padding: 0;
    max-height: 0px;
}

.accordion-lable h3 span.accordion-icon {
    content: url(../images/accordion-arrow.png);
    position: absolute;
    right: 40px;
    top: 35px;
    transform: rotate(180deg);
    transition: all 0.5s ease-in-out;
    /* filter: invert(1); */
    height: 8px;
}
.accordion-lable h3 {
    padding-right: 20px;
    margin: 0px;
}
.active {
    height: auto;
}
.active .accordion-lable {
    background: var(--color-primary-5);
    box-shadow: 0px 0px 10px var(--color-primary-1);
}
.accordion-item.active .accordion-content {
    height: auto;
    max-height: 2000px;
}

.accordion-item.active .accordion-lable h3 span {
    transform: rotate(0deg);
}

.accordion-lable {
    padding: 15px 20px;
}

.accordion-main .title {
    padding: 10px;
}