@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/static/Montserrat-Regular.ttf);
    font-display: block;
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url(../fonts/static/Montserrat-Medium.ttf);
    display: block;
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/static/Montserrat-Bold.ttf);
    display: block;
}