.counter-main {
  height: 500px;
  width: 100%;
  background-image: url(../images/key-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 4px 4px 4px black;
}

.counters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 150px;
}

.counter {
  color: var(--color-green);
  font-size: clamp(1.5625rem, 1.4063rem + 0.5vw, 2rem);
}

.counter .sign {
  font-size: clamp(2.1875rem, 1.8973rem + 0.9286vw, 3rem);
}

.count {
  line-height: 100px;
  font-size: clamp(4rem, 3.6429rem + 1.1429vw, 5rem);
}

.counter-main .config-text {
  position: relative;
  top: 120px;
}

.counter .numbers {
  height: 90px;
}

@media (max-width: 768px) {
  .counter .numbers {
    height: 80px;
  }
}