header {
    position: fixed;
    width: -webkit-fill-available;
    z-index: 1;
    transition: all 0.5s;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-image img {
    max-width: 200px;
    transition: all 0.5;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-primary-1);
    font-size: 1.7rem;
    font-weight: bold;
    display: block;
}

nav ul li {
    list-style-type: none;
}

nav ul {
    margin: 0px;
}

/* navigation toggle button */
nav button {
    position: absolute;
    right: 20px;
    top: 15px;
    display: none;
    background: none;
    border: none;
    width: 25px;
    height: 25px;
}

nav button span:nth-child(1) {
    position: relative;
    content: '';
    height: 5px;
    width: 25px;
    display: block;
    background: var(--color-primary-1);
    border-radius: 150px;
    top: 0;
    transition: all 1s;
}

nav button span:nth-child(2) {
    position: relative;
    content: '';
    height: 5px;
    width: 25px;
    display: block;
    background: var(--color-primary-1);
    border-radius: 150px;
    top: 5px;
    transition: all 1s;
}

nav button span:nth-child(3) {
    position: relative;
    content: '';
    height: 5px;
    width: 25px;
    display: block;
    background: var(--color-primary-1);
    border-radius: 150px;
    top: 10px;
    transition: all 1s;
}

nav button.resposive-nav-btn span:nth-child(1) {
    top: 5px;
    rotate: 40deg;
}

nav button.resposive-nav-btn span:nth-child(2) {
    top: 0px;
    rotate: -40deg;
}

nav button.resposive-nav-btn span:nth-child(3) {
    opacity: 0;
}

/* media query */
@media (max-width: 992px) {

    nav button,
    nav {
        display: block;
    }

    header .container {
        width: auto;
        margin: 0px;
    }

    .nav-image {
        padding: 15px;
    }
}

/* --------------------- second mega navigation ----------------------- */
.second-mega-nav {
    background: var(--color-primary-5);
    border-bottom: 1px solid var(--color-primary-1);
}

.navigation-title {
    display: flex;
}

.navigation {
    background: var(--color-primary-5);
}

.mega-navigation:hover a,
.mega-navigation a.active {
    background: var(--color-primary-2);
    transition: all 0.5s;
    color: var(--color-primary-6);
    text-shadow: 2px 2px 2px var(--color-primary-5);
}

.mega-navigation-image {
    padding: 20px;
    width: 50%;
}

.mega-navigation-image img {
    box-shadow: 1px 1px 10px var(--color-primary-5);
}

.second-mega-nav .mega-navigation a {
    padding: 23px 20px;
}

.contact {
    display: none;
}

/* Media query */
@media (max-width : 992px) {
    .navigation {
        padding-left: 10px;
        border-bottom: 1px solid var(--color-primary-1);
        width: 150%;
    }

    .navigation-title {
        position: absolute;
        display: block;
        background: var(--color-primary-1);
        width: 200px;
        transform: translateX(100%);
        transition: all 1s;
        height: 120vh;
        padding: 0px;
        right: 0px;
    }

    nav ul li a {
        color: var(--color-primary-5);
    }

    .second-mega-nav .mega-navigation a {
        padding: 12px 20px;
        width: 100%;
    }

    .mega-navigation:hover a {
        color: var(--color-primary-1);
    }

    .second-mega-nav .col-12 {
        padding: 0px;
    }

    .mega-navigation {
        transition: all 1s;
        padding: 15px !important;
    }

    .second-mega-nav .mega-navigation {
        position: relative;
        padding: 0px !important;
    }

    .mega-navigation a {
        padding: 15px;
    }

    .second-mega-nav {
        background: transparent;
        border-bottom: none;
    }

    .navigation-link::after {
        display: none;
        height: 110vh;
        width: 100vw;
        content: '';
        background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }

    .contact {
        display: block;
    }

    .block {
        transform: translateX(0);
    }

    .not-click::after {
        display: block;
    }
}

@media (max-width: 768px) {
    .nav-image img {
        max-width: 150px;
    }
}