header {
    position: sticky;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-image img {
    max-width: 120px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-primary-1);
    font-size: 1.7rem;
    font-weight: bold;
    display: block;
}

.mega-navigation-main nav ul li a::after {
    content: '';
    display: block;
    position: relative;
    top: 4px;
    width: 0px;
    height: 3px;
    background: var(--color-primary-4);
    transition: all 1s;
}

.mega-navigation-main nav ul li a:hover::after {
    width: 100%;
}

nav ul li {
    list-style-type: none;
    padding: 20px;
}

nav ul {
    margin: 0px;
}

.mega-navigation-main {
    border: 1px solid var(--color-primary-1);
    margin: 10px 0px;
}

.nav-title {
    display: flex;
    text-align: center;
    padding: 0px;
    background: var(--color-white);
}

.nav-title li, .mega-navigation {
    cursor: pointer;
}

/* navigation toggle button */
nav button {
    position: relative;
    right: 5px;
    bottom: 35px;
    display: none;
    background: none;
    border: none;
    width: 25px;
    height: 25px;
}

nav button span:nth-child(1){
    position: relative;
    content: '';
    height: 5px;
    width: 25px;
    display: block;
    background: black;
    border-radius: 150px;
    top: 0;
    transition: all 1s;
}
nav button span:nth-child(2){
    position: relative;
    content: '';
    height: 5px;
    width: 25px;
    display: block;
    background: black;
    border-radius: 150px;
    top: 5px;
    transition: all 1s;
}
nav button span:nth-child(3){
    position: relative;
    content: '';
    height: 5px;
    width: 25px;
    display: block;
    background: black;
    border-radius: 150px;
    top: 10px;
    transition: all 1s;
}

nav button.resposive-nav-btn span:nth-child(1){
    top: 5px;
    rotate: 40deg;
}
nav button.resposive-nav-btn span:nth-child(2){
    top: 0px;
    rotate: -40deg;
}

nav button.resposive-nav-btn span:nth-child(3){
    opacity: 0;    
}

/* mega nav */
.mega-nav {
    position: relative;
}

.secondary-nev {
    display: none;
    position: relative;
    background: var(--color-primary-5);
}

.secondary-nev ul li {
    padding-bottom: 0px;
}

.third-nev {
    display: none;
    position: absolute;
    left: 228px;
    width: max-content;
    top: 15px;
    border: 1px solid var(--color-border);
    background: var(--color-white);
}

.third-nev-main {
    position: relative;
}

.third-nev-main:hover .third-nev {
    display: block;
}


/* icon */
nav span.mega-nav-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: x-large;
    width: 46px;
}

nav span.mega-nav-icon::after {
    display: block;
    content: '\203A';
    position: absolute;
    top: 10px;
    left: 20px;
}

nav .mega-navigation span.mega-nav-icon {
    top: 8px;
}

nav span.mega-nav-icon.big-screen::after {
    left: 20px;
}

/* media query */
@media (min-width: 992px) {
    .secondary-nev {
        position: absolute;
        top: 69px;
        left: 0;
        border: 1px solid var(--color-primary-4);
        width: max-content;
    }

    .third-nev {
        position: absolute;
        left: 100%;
        top: 0;
        width: max-content;
    }

    .mega-nav:hover .secondary-nev {
        display: block;
    }

    nav span.mega-nav-icon {
        top: 2px;
        left: 125px;
        width: 46px;
    }

    .secondary-nev ul li {
        padding-right: 40px;
    }

    nav .mega-nav-icon.big-screen::after {
        display: none;
    }
    .secondary-nev ul:last-child {
        padding-bottom: 20px;
    }
}

@media (max-width: 992px) {
    .nav-title {
        position: absolute;
        transform: translateX(-110%);
        transition: all 1s;
        display: block;
        width: 250px;
        border: 1px solid var(--color-primary-4);
        min-height: 100vh;
        text-align: justify;
    }
    .nav-title .mega-nav {
        padding-bottom: 0px;
    }
    nav button,
    nav , .mega-nav-block {
        display: block;
    }

    .nav-image a {
        margin-left: 40px;
    }

    header .container {
        width: auto;
    }

    .mega-nav span.mega-nav-icon::after {
        left: 40px;
    }
    
    .secondary-nev .navigation-back-btn {
        position: absolute;
        top: 1px;
        right: 10px;
        content: "back";
        font-size: 1.5rem;
    }
    .nav-image {
        padding-top: 20px ;
    }
}






/* --------------------- second mega navigation ----------------------- */
.second-mega-nav {
    background: var(--color-primary-5);
    border-bottom: 1px solid var(--color-primary-1);
}
.navigation-title {
    display: flex;
}
.mega-nav .row {
    width: 100%;
}

.mega-navigation:hover {
    background: var(--color-primary-4);
}

.mega-nav-two .row .col-4:first-child {
    border: none;
}
.mega-navigation-image {
    padding: 20px;
    width: 50%;
}

.mega-navigation-image img {
    box-shadow: 1px 1px 10px var(--color-primary-5);
}

.mega-nav-two .main-navigation-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    color: var(--color-primary-5);
}
.second-mega-nav .mega-navigation {
    padding: 27px 20px;
}
.secondary-nevigation ul li {
    transition: all 0.5s;
    padding: 10px 20px;
}
.secondary-nevigation ul li a {
    color: var(--color-primary-5);
}
.secondary-nevigation ul li:hover a{
    color: var(--color-primary-1);
}
.secondary-nevigation li:hover {
    padding-left: 40px;
    background: var(--color-primary-4);
}
.hello {
    padding: 100px 0px ;
}

/* Media query */
@media (min-width : 992px){
    .mega-nav-two {
        position: absolute;
        width: -webkit-fill-available;
        background-color: var(--color-primary-2);
        left: 0;
        top: 75px;
        display: block;
        visibility: hidden;
        opacity: 0;
        z-index: 5;
        padding: 20px;
    }
    .mega-nav-two .row .col-4 {
        border-left: 1px solid var(--color-primary-5);
        padding: 0px;
    }
    .mega-navigation:hover .mega-nav-two {
        display: block;
        visibility: visible;
        opacity: 1;
        top: 79px;  
        transition: all 0.5s;  
    }
    .responsive-back-btn {
        display: none;
    }
}

@media (max-width : 992px){
    .navigation {
        background: var(--color-light-green);
        padding-left: 10px;
    }
    .second-mega-nav {
        background: none;
    }
    .navigation-title {
        display: block;
        background: var(--color-light-green);
        width: 200px;
        transform: translateX(-110%);
        transition: all 1s;
        height: 90vh;
    }
    .mega-nav-two .row .col-4:nth-child(1), .mega-nav-two .row .col-4:nth-child(3) {
        display: none;
    }
    .mega-nav-two {
        position: absolute;
        width: 192px;
        transform: translateX(-125%);
        top: 0 !important;
        height: -webkit-fill-available;
        transition: all 1s;
        z-index: 5;
    }
    .navigation-title li.mega-navigation:nth-child(2) .mega-nav-two {
        top: -100% !important;
    }
    .second-mega-nav .col-12 {
        padding: 0px;
    }
    .secondary-nevigation{
        background: var(--color-green);
        padding-top: 20px;
        width: 200px;
        height: 90vh;
    }
    .mega-navigation .responsive-back-btn {
        position: fixed;
        top: 2px;
        right: 10px;
        display: block;
        padding: 3px 5px;
        font-size: 1.1rem;
        text-decoration: underline;
    }
    .sec-mega-nav-block {
        transform: translateX(-10%);
    }
    .mega-navigation {
        transition: all 1s;
        padding: 15px !important;
    }
    .mega-navigation .second-mega-icon {
        /* position: relative;
        bottom: 50px;
        left: 20px; */
        position: absolute;
        background: var(--color-green);
        width: 35px;
        height: 56px;
        bottom: 0px;
        right: 0px;
    }
    .mega-navigation .second-mega-icon:hover {
        background: var(--color-light-green);
    }
    .second-mega-nav .mega-navigation{
        position: relative;
        padding: 0px !important;
    }
    .mega-navigation a {
        padding: 15px;
    }
    .ancor .mega-nav-icon::after{
        top: 0;
        left: 25px !important;
    }
    .mega-navigation .secondary-nevigation li {
        padding: 0px !important;
    }
}


/* css used for both navigation */
.block{
    transform: translateX(-3%);
}

.third-nev ul li {
    padding-right: 20px;
}
